.wrapper {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: none;
  margin-bottom: 5px;
  cursor: pointer;

  &:last-of-type {
    margin-bottom: 0;
  }

  &.isActive {
    width: 30px;
    height: 30px;
  }

  &:hover:not(.isActive) {
    transform: scale(1.3);
  }
}
