.wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;

  .messagesContainer {
    flex: 1;
    flex-shrink: 0;
    overflow: auto;
    padding: 10px 10px 0;
    max-height: calc(100vh - 189px)
  }

  .inputContainer {
    padding: 10px;

    .input {
      margin: 0;
    }
  }
}
